.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    width: 49%;
    background-color: rgba(0, 174, 239, 0.3);
    margin-left: 2%;
}

.loginH1 {
    display: flex;
    margin-top: 5%;
    font-size: 30px;
    font-weight: bold;
}

.loginInput {
    border: 2px solid #007bff;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
}


.loginButton {
    background-color: #000584;
    color: white;
    font-weight: bold;
    font-size: 1.563vw;
    border-radius: 5px;
    border: solid 3px black;
    min-height: 20px;
    min-width: 60px;
    margin-top: 10px;
}

.msgErro {
    color: red;
}

@media screen and  (max-width: 650px) {
    .login {
        width: 100vw;
        margin: 0;
    }

    .loginButton {
        width: 21vw;
        height: 40px;
        font-size: 12px;
    }
}