/* Problemas.module.css */

.menu {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  background-color: #0A7DA8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.problemaItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: white;
  padding: 10px;
  border-radius: 8px;
  transition: transform 0.2s, box-shadow 0.2s;
  text-decoration: none;
  color: #333;
  width: 20%; /* Ajusta a largura para deixar as imagens menores */
}

.problemaImagem {
  width: 100%;
  height: auto;
  max-height: 120px; /* Limita a altura das imagens */
  border-radius: 8px;
  margin-bottom: 10px;
  object-fit: cover;
}

.problemaItem:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.problemaNome {
  font-size: 0.9em;
  color: #333;
  font-weight: bold;
}
