.menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajusta para caber em toda a largura da tela */
  gap: 20px; /* Aumenta o espaçamento entre os itens */
  width: 100%; /* Ocupa toda a largura do contêiner */
  max-width: 90vw; /* Define um limite para não ocupar completamente as laterais */
  margin: 0 auto; /* Centraliza o conteúdo */
  background-color: #0A7DA8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.problemaItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  background-color: #ffffff;
  transition: transform 0.3s, box-shadow 0.3s;
  text-decoration: none;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.problemaItem:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.problemaImagem {
  width: 100%; /* Garante que a imagem ocupe toda a largura do item */
  height: 150px; /* Define uma altura fixa para as imagens */
  border-radius: 6px;
  object-fit: cover; /* Ajusta a imagem dentro do contêiner */
  margin-bottom: 10px;
}

.problemaNome {
  font-size: 1rem;
  font-weight: bold;
  color: #555;
}
