.pagina {
    height: 900px;
    width: 49%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo {
    display: flex;
    justify-content: space-between;
}

.texto p {
    margin: 30px;
    font-size: 1.302vw;
}

.btnMais {
    background-color: #0A7DA8;
    width: 150px;
    height: 40px;
    border: 3px solid gray;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ttConteudo h1 {
    margin-top: 40px;
    font-size: 2.083vw;
    text-align: center;
}

.ttConteudo h2 {
    font-size: 1.042vw;
    font-weight: bold;
}

@media screen and  (max-width: 850px) {
    .pagina {
        height: auto;
        width: 100vw;
    }

    .ttConteudo h1 {
        font-size: 20px;
    }
}

@media screen and  (max-width: 670px) {
    .texto p {
        font-size: 15px;
    }
}

@media screen and  (max-width: 500px) {
    .texto p {
        font-size: 12px;
    }

    .btnMais {
        width: 20vw;
        font-size: 12px;
    }
}